body{
  font-family: 'Oswald', sans-serif;
  background-color: #36454f;
  color: #bbd4d8;
  border-color: orange
}
.h1{
color: #bbd4d8;
position: center;
}



p {
background-color: #910500



}
tr:nth-child(odd){
  background-color: #CD4908


}
.img-circle{
border-radius: 50%;


}
