body{
  font-family: 'Oswald', sans-serif;
  background-color: #132C44;
  color: #3E6991;

}
.header{
background-color: #DD8716;
width: 50%;
height: auto;
margin: auto;
}
h1{
color: #3E6991;

}




p {
background-color: #DD8716;
text-align:left;
margin: auto;
width:50%;
}
tr:nth-child(odd){
  background-color: #DD8716;


}
.img-rounded{
border-radius: 50%;
margin: auto;
}
.img-square{
height: 300px;
width: 300px;
margin: auto;
display: block;
}

.center-tag-not {
  margin: auto;
  display: block;
  width: 10%;
}
